$grid-settings: (
    breakpoints: (
        small: 'only screen and (min-width: #{$breakpoint-small})',
        medium: 'only screen and (min-width: #{$breakpoint-medium})',
        large: 'only screen and (min-width: #{$breakpoint-large})',
    ),
    bases: ( 12 ),
    gutters: (
        none: 0,
        narrow: 0.5rem,
        normal: 1rem,
        wide: 2rem,
    ),
    default-gutter: 1rem,
    gutter-breakpoints: true,
    vertical-gutters: true,
    fallback: true,
    fallback-markup-fix: false,
    grid-modifiers: (
        left,
        center,
        right,
        top,
        middle,
        bottom,
        forwards,
        backwards,
        between,
        around,
        equal,
    ),
    grid-modifier-breakpoints: true,
    item-modifiers: (
        first,
        last,
        reset-order,
        push,
        pull,
        auto,
    ),
    item-modifier-breakpoints: true,
) !default;
