$spacer                     : 1rem;

$breakpoint-xlarge          : 1440px;
$breakpoint-large           : 1200px;
$breakpoint-medium          : 768px;
$breakpoint-small           : 510px;

@import './grid-settings';
